<article class="article">
  <section class="article-head">
    <h2><%= link_to article.title, article_path(article) %></h2>
    <small>
      <time><%= article.created_at.to_date.strftime("%d %B, %Y") %></time>
    </small>
  </section>
  <section class="article-summary clearfix">
    <%= image_tag article.image.url(:thumb), class: 'img-thumbnail thumb' if article.image? %>
    <%= article.content %>
  </section>
</article> 