<center><h1>Articles</h1></center>

<%= render @articles %>

<center>
<%= paginate @articles, theme: 'twitter-bootstrap-4',
                        pagination_class: "pagination-sm", 
                        nav_class: "d-inline-b" %>
</center>
